.mat-dialog-container {
  width: 400px;
  max-width: 100%;
  padding: 15px;
}

.mat-dialog-content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  mat-form-field {
    width: 100%;
  }
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}
