<div class="mat-dialog-container">
  <h1>Create a new category</h1>
  <div class="mat-dialog-content">
    <form [formGroup]="form">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </form>
  </div>
  <div class="mat-dialog-actions">
    <button mat-stroked-button (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="primary" class="ms-2" (click)="onCreate()" [disabled]="!form.valid">Create Category</button>
  </div>
</div>
